@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Source Sans Pro', sans-serif;
}
.nav-links {
  word-spacing: 5px;
  font-family: 'Anton', sans-serif;
}
.nav-links::after {
  content: '';
  width: 0%;
  height: 2px;
  background: white;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links:hover::after {
  width: 100%;
}
